@keyframes marquee-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-right {
  animation: marquee-right 60s linear infinite;
}

.animate-marquee-left {
  animation: marquee-left 60s linear infinite;
}

.animate-marquee-right.paused,
.animate-marquee-left.paused {
  animation-play-state: paused;
}

